<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777050010707-7n3t8ipfdjlpp3oeniotplj6tilo3iq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777050010707-7n3t8ipfdjlpp3oeniotplj6tilo3iq9</string>
	<key>API_KEY</key>
	<string>AIzaSyDDBVfc2PZ06-6G56Who18SXqCZA8J7WOA</string>
	<key>GCM_SENDER_ID</key>
	<string>777050010707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zood.chatty</string>
	<key>PROJECT_ID</key>
	<string>chatty-b0abc</string>
	<key>STORAGE_BUCKET</key>
	<string>chatty-b0abc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777050010707:ios:6d087bb97a16e2396d02a6</string>
	<key>DATABASE_URL</key>
	<string>https://chatty-b0abc.firebaseio.com</string>
</dict>
</plist>